[user]
	email = p@tte.io
	signingkey = 342DD599C86A89AAF573D5068DB8D450E8A53BF6
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
